extends ../layouts/default

block content
	.jumbotron: .container
		h1 RefDocs <small> Registercentrum</small>
		p We are currently hosting <strong>#{data.nDocuments}</strong> documents in our database. 
		p <a class="btn btn-primary btn-lg" href="/documents" role="button">Learn more &raquo;</a>
